services:
  web:
    build: .
    volumes:
      - .:/app
      - /app/.venv
      - static_volume:/app/staticfiles
      - sqlite_data:/app/db_data
    environment:
      - DEBUG=False

  nginx:
    image: nginx:1.25-alpine
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - static_volume:/app/staticfiles:ro
    ports:
      - "80:80"
    depends_on:
      - web

volumes:
  static_volume:
  sqlite_data: